<!doctype html>
{% load compile_static %}
{% load static %}
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 
    <link rel="stylesheet" type="text/css" href="{% static 'chess/CSS/style.css' %}">

    <title>Hello, world!</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="{% static 'chess/JS/chessboard.js' %}"></script>
  </head>

<main role='main' class='container'>
<body class='bg-light'>

    {% block content %}
    {% endblock %}


   
    </body>
</main>
</html>